@charset "UTF-8";



.el-dialog__title {
    line-height: 24px;
    font-size: 18px;
    color: #303133;
}

.el-dialog__header {
    margin: 15px 15px 15px;

 

}


.el-dialog__body {
    padding: 0px 20px !important;
}



   

